:root {
  --box-shadow: 5px 5px 10px 10px rgba(101, 175, 10, 0.5);
  --bg-color: rbg(117, 123, 166);
}

body {
  background-color: rgb(11, 26, 51);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

.nav-bar .nav-items {
  padding: 5px 20px;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

.nav-bar .nav-items::after {
  content: '';
  width: 0%;
  height: 3px;
  background: goldenrod;
  position: absolute;
  left: 0;
  bottom: -4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar .nav-items:hover::after {
  width: 100%;
  border-radius: 20px;
}

.home {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .left {
  background-color: rgb(117, 123, 166);
  width: 620px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid aliceblue;
  box-shadow: var(--box-shadow);
}

.home .right .img {
  display: flex;
  justify-content: start;
  align-items: start;
}

.home .right .img img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  border: 5px solid aliceblue;
  animation-name: animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes animation {
  0% {
    border-color: blanchedalmond;
    transform: translate(0, 0px);
    box-shadow: 10px 10px 100px 50px blanchedalmond;
  }
  25% {
    border-color: rgb(154, 156, 9);
    box-shadow: 10px 10px 100px 50px rgb(154, 156, 9);
  }
  50% {
    border-color: rgb(103, 111, 21);
    transform: translate(0, 10px);
    box-shadow: 10px 10px 100px 50px rgb(103, 111, 21);
  }
  75% {
    border-color: rgb(130, 217, 160);
    box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);
  }
  100% {
    border-color: rgb(30, 31, 59);
    transform: translate(0, 0px);
    box-shadow: 10px 10px 100px 50px rgb(30, 31, 59);
  }
}

.exp {
  width: 900px;
}

.exp-items ul {
  list-style-type: disc;
  padding-left: 40px;
  text-align: left;
}

.exp-items li {
  margin: 5px 0;
}

.job-details {
  margin-bottom: 30px;
}

.roles-responsibilities {
  color: gold;
  margin-top: 50px;
  cursor: pointer;
}

.logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-top: 40px;
  border-radius: 10px;
}

.exp-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  margin: 20px;
  padding: 30px;
  width: 800px;
  border: 1px solid azure;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.skills {
  width: 900px;
}

.skills .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.skills .items .item {
  width: calc(33.33% - 40px);
  background-color: black;
  margin: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid azure;
  box-shadow: var(--box-shadow);
}

.skills .items .item img {
  width: 70px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
  color: white;
}

.projects li {
  margin: 5px 0;
}

.card-title {
  margin-bottom: 20px;
  color: yellow;
}

.title {
  margin-left: 220px;
}

.certificates {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-color: rgb(11, 26, 51);
  cursor: pointer;
}

.certificate-item {
  border-radius: 10px;
  padding: 30px;
  transition: transform 0.3s;
  animation: fade-in 0.5s;
  box-shadow: var(--box-shadow);
}

.certificate-item:hover {
  transform: scale(1.05);
}

.certificate-item ul {
  padding-left: 40px;
  text-align: left;
  display: inline-block;
}

.certificate-item li {
  margin-bottom: 10px;
  font-size: 18px;
  color: gold;
}

.contact-icon {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact-icon .items {
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid azure;
}

.contact-icon .items:hover {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.contact-icon .items .icons {
  font-size: 2rem;
}

.contact h1 {
  text-align: start;
  margin: 20px 0 -20px 200px;
}

.top-arrow {
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s;
  z-index: 1000;
}

.top-arrow:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 600px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 0;
  }

  .nav-bar .nav-items{
    flex: 1 0 30%;
    text-align: center;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
  }

  .home {
    height: auto;
    margin: 90px 0 50px 0;
  }

  .nav-bar a {
    flex: 1;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    min-width: 100px;
  }

  .home .left {
    width: 100%;
  }

  .home .right .img img {
    height: 150px;
    width: 150px;
  }

  .exp {
    width: 100%;
    margin: auto;
  }

  .exp-items {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin: 10px 0;
  }

  .exp-items ul {
    padding-left: 20px;
  }

  .exp-items li {
    margin: 5px 0;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .skills {
    width: 100%;
    max-width: 900px;
    margin: auto;
  }

 .skills-icons i {
    width: 50%;
  }

  .skills .items .item {
    width: calc(50% - 40px);
  }

  .contact-me-icons i {
    font-size: 2.5rem;
  }

  .contact-icon {
    height: 20vh;
  }

  .contact-icon .items {
    height: 40%;
    width: 40%;
  }

  .contact h1 {
    margin: 10px 0 -10px -2px;
  }

  .top-arrow {
    display: block;
  }

  .title {
    text-align: left;
    margin-left: 20px;
  }
}